<%-include('header'); %>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
    <input id="input-value" type="text" name="">
    <button id="submit-btn" type="submit" name="button">Publish</button>
    </form>
    <%-include('footer'); %>